.cart-btn{
    font-size: 1.6rem;
    background-color: white !important;
    color: blue !important;
    // font-size: 1.5rem;
    font-weight: bold;
}

.text-quantity{
    font-size: 1.2rem;
    color: lightgreen;
    padding-left: 1rem;
}


