<!-- Hero Section -->
<div class="container text-center mt-5">
    <h1 class="text-info">Welcome to StoreFront POS</h1>
    <p class="lead">Accept Cryptocurrency Payments with Ease</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['create-sales-point']">Get Started</a>
</div>

<!-- Features Section -->
<section id="features" class="py-5">
    <div class="container text-center">
        <h2 class="mb-3">Key Features</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body p-5">
                        <div><i class="bi bi-coin text-success" style="font-size: 5rem;"></i></div>
                        <h5 class="card-title">Cryptocurrency Payments</h5>
                        <p class="card-text ">Accept payments in various cryptocurrencies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body p-5">
                        <div><i class="bi bi-shop text-warning" style="font-size: 5rem;"></i></div>
                        <h5 class="card-title">Product Management</h5>
                        <p class="card-text">Easily manage your product listings and pricing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body p-5">
                        <div><i class="bi bi-receipt text-info" style="font-size: 5rem;"></i></div>
                        <h5 class="card-title">NFT Integration</h5>
                        <p class="card-text">Securely generate and send NFT receipts to customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Documentation Section -->
<section id="documentation" class="bg-light py-5">
    <div class="container text-center">
        <h2>Documentation</h2>
        <p>Learn how to use and customize StoreFront POS in our documentation.</p>
        <a class="btn btn-primary" href="#documentation-link">Read Documentation</a>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="py-5">
    <div class="container text-center">
        <h2>Contact Us</h2>
        <p>Have questions or need assistance? Reach out to us!</p>
        <a class="btn btn-primary" href="mailto:your@email.com">Email Us</a>
    </div>
</section>